/* ********** */
/* color vars */
/* ********** */


/* ******* */
/* General */
/* ******* */

/* basic stuff */
body {
}
h1 {
}
h2 {
}
p {
}

/* basic helper */
.left {float: left;}
.right {float: right;}
.clear {clear: both;}
.hidden {visibility: hidden;}
.none {display: none;}
.scroll {overflow:scroll;}
.overflow {overflow: auto;}

/* material icons */
// sizing
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-20 { font-size: 20px; }
.material-icons.md-24 { font-size: 24px; }

/* form and co */
// inputs
input,
textarea {
  display: block;
  float: left;
  margin: 0;
  padding: 4px 6px;
  min-height: 20px;
  min-width: 350px;

  font-size: 16px;
  color: #212529;
  appearance: none;
  box-shadow: none;
  border-radius: 8px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
   &:hover,
   &:focus {
     outline: none;
     border: solid 1px #707070;
     box-shadow: 0 0 5px 1px #969696;
   }
}
select {
  font-size: 16px;
  color: #212529;
  width: 365px;
}
textarea {
  min-height: 60px;
}
input.error,
textarea.error {
  background-color: rgba(221, 89, 86, 0.8);
  color: #fff;
}
// labels
label {
  font-size: 16px;
  min-width: 160px;
  min-height: 25px;
  margin-right: 15px;
  padding-top: 4px;
  text-align: right ;
  display: block ;
  float: left;
}
.labelspace {
  // usefull for buttons, ...
  display: block;
  float: left;
  width: 160px;
  margin-right: 15px;
  height: 25px;
  visibility: hidden;
}
// container divs
form div[id^="div-"] {
  clear: both;
  margin: 5px 0;
  overflow: auto; // float left height fix
  // tooltip icon
  i.helpicon {
    margin-top: 3px;
    margin-left: 10px;
  }
}

// buttons
button,
.button {
  height: 40px;
  min-width: 120px;
  border-radius: 25px;
  margin-right: 10px;

  color: #c8c8c8;
  border-color: #c8c8c8;
  background-color: rgba(30, 30, 30, 0.8);
  font-weight: bold;

  &:hover {
    outline: none;
    color: #e7e7e7;
    border: solid 1px #e7e7e7;
    box-shadow: 0 0 5px 1px #e7e7e7;
  }
  &.not-main {
    opacity: 0.5;
  }
}

/* list view */
// table
table {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  overflow: scroll;
  white-space: nowrap;
  text-align: center;
  background: rgba(46, 46, 46, 0.5);
  border-radius: 15px;
  border-collapse: separate;
  border-spacing: 1px 2px;
  padding-left: 1px;
  padding-right: 1px;
  cursor: pointer;
  .table-header {
    th {
      min-width: 80px;
      color: #ffffff;
    }
  }
  .table-body {
    // different color on every 2nd row
    &:nth-child(even) {background: #FFFFFF}
    &:nth-child(odd) {background: #EBEBEB}
    // border radius on bottom
    &:last-child td:first-child {border-bottom-left-radius:15px;}
    &:last-child td:last-child {border-bottom-right-radius:15px;}
    &:hover {
      background-color: rgb(130, 130, 130);
      color: #fff;
      box-shadow: 0 0 5px 1px #969696;
    }
    td {
    }
  }
}

// content container
.container {
  padding-bottom: 50px;
  padding-top: 10px;
}

// card background
.card {
  background-color: rgba(228, 228, 228, 0.7);
  padding: 30px 0;
  border-radius: 40px;
  margin: 10px auto 20px;

}
form.card {
  max-width: 600px;
  width: 100%;
}

// tooltips
.tooltip {
  z-index: 1001;
  pointer-events: none;
  // transition: opacity 1s ease-out; bugged in some browsers... 2Do
  opacity: 0;
  background-color: black;
  color: #fff;
  border-radius: 5px;
  padding: 10px 15px;
}
.tooltip.hide {
  opacity: 0;
  padding: 0;
  margin: 0;
}
.tooltip.show {
  opacity: 1;
}



/* ************ */
/* admin screen */
/* ************ */
#layout_admin {
  /* menu */
  #menu {
    height:100vh;
    width: 200px;
    background: #fff;
    position: fixed;
    .menu-element {
      background: rgba(46, 46, 46, 0.9);
      margin-bottom: 2px;
      &.active {
        background: rgba(46, 46, 46, 0.8);
      }
      &:hover {
        background: rgba(46, 46, 46, 0.7);
      }
      a,
      a:hover {
        padding: 10px 5px;
        width: 190px;
        height: 100%;
        display: block;
        color: #fff;
        text-decoration: none;
        span {
          vertical-align: top;
          position: relative;
          top: 5px;
          left: 10px;
        }
      }
    }
  }
  #main {
    margin-left: 200px;
    h1 {
      color: #fff;
      border-bottom: solid 1px #fff;
      width: 80%;
      margin: 0 10%;
      padding-top: 10px;
      padding-bottom: 5px;
    }
  }
  // Sponsor Screen
  #listed-sponsors .img > img {
    max-height: 50px;
    width: auto;
  }

}
/* *********** */
/* user screen */
/* *********** */
#layout_user {
  button,
  .button {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }
  #div-question {
    margin-left: 20px;
    margin-right: 20px;
    textarea {
      width: 100%;
      box-sizing: border-box
    }
  }
}

/* ************** */
/* keynote screen */
/* ************** */
#mod_menu {
  height: 10vh;
  background-color: rgba(228, 228, 228, 0.7);
  #button_group {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    #start_session i {
        color: #17B287;
    }
    #stop_session i {
        color: #E04F5F;
    }
  }
  .mod_button {
    margin-left: 25px;
    cursor: pointer;
    span {
      display: block;
      float: right;
      padding: 1px 0 0 5px;
    }
    a {
      color: black;
    }
  }
}
#mod_content {
  h2 {
    color: #fff;
    text-align: center;
  }
  .question-3 {
    // background: red;
    height: 90vh;
    float: left;
    width: 33%;
    overflow: scroll;
  }
  .question-50 {
    height: 50%;
  }
  .question {
    margin: 5px 2px;
    padding: 5px 10px;
    background-color: rgba(228, 228, 228, 0.7);
    border-radius: 10px;
    overflow: auto;
    .text {
      float: left;
    }
    .icons {
      float: right;
      & > i {
        cursor: pointer;
        margin-left: 5px;
      }
    }
  }
}
#live_keynote {
  h1 {
    font-size: 3em;
    color: #fff;
  }
  h2 {
    font-size: 2em;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
  }
  .question {
    font-weight: bold;
    font-size: 1.5em;
    padding: 20px 25px;
    border-radius: 35px;
    margin: 10px 20px 20px;
    text-align: center
  }
}


// mby for later


body {
  font-family: Verdana, Verdana, Geneva, sans-serif;
  background-color: #315481;
  background-image: linear-gradient(to bottom, #315481, #918e82 100%);
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
  color: #2e2e2e;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  margin-right: 1em;

  text-align: center;
  width: 100%;
}

@media (max-width: 600px) {

}




// DROP ZONE


#outer-dropzone {
  height: 140px;
}

#inner-dropzone {
  height: 80px;
}

.dropzone {
  background-color: #ccc;
  border: dashed 4px transparent;
  border-radius: 4px;
  margin: 10px auto 30px;
  padding: 10px;
  width: 80%;
  transition: background-color 0.3s;
}

.drop-active {
  border-color: #aaa;
}

.drop-target {
  background-color: #29e;
  border-color: #fff;
  border-style: solid;
}

.drag-drop {
  display: inline-block;
  min-width: 40px;
  padding: 2em 0.5em;

  color: #fff;
  background-color: #29e;
  border: solid 2px #fff;

  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);

  transition: background-color 0.3s;
}

.drag-drop.can-drop {
  color: #000;
  background-color: #4e4;
}
