<template name="keynote_mod">
    {{#if title}}

      <div id="mod_menu" class="overflow">
        <h1>Keynote Mod: {{title}}</h1>
        <div id="button_group">
          {{#if isLive}}
          <div id="stop_session" class="mod_button left">
            <i class="material-icons md-20">pause_circle_filled</i>
            <span>End Session</span>
          </div>
          {{else}}
          <div id="start_session" class="mod_button left">
            <i class="material-icons md-20">play_circle_filled</i>
            <span>Start Session</span>
          </div>
          {{/if}}
          <div id="open_keynote" class="mod_button left">
            <a href="/keynote/{{shortlink}}" target=_blank>
              <i class="material-icons md-20">open_in_new</i>
              <span>Präsentations-Tab</span>
            </a>
          </div>
          <div id="open_qna" class="mod_button left">
            <a href="/keynote_answers/{{shortlink}}" target=_blank>
              <i class="material-icons md-20">question_answer</i>
              <span>Q & A Tab</span>
            </a>
          </div>
        </div>
      </div>

      <div id="mod_content">
        <div id="new" class="question-3 scroll">
          <h2 data-tooltip="Alle neu erstellten Fragen werden in diesem Bereich aufgelistet. Neue Fragen können nur erstellt werden, wenn die Session gestartet ist.">New</h2>
          {{#each new_questions}}
            <div class="question">
              <div class="text">{{question}}</div>
              <div class="icons">
                <i class="add_nice material-icons md-20">favorite</i>
                <i class="add_crap material-icons md-20">delete</i>
              </div>
            </div>
          {{/each}}
        </div>
        <div id="nice" class="question-3 scroll">
          <h2 data-tooltip="Dieser Bereich dient Ihnen als Zwischenspeicher. Sortieren Sie Fragen, die Ihnen gefallen, hier hin aus. Fragen, die Sie später beantworten wollen, müssen in diesem Bereich sein.">Nice</h2>
          {{#each nice_questions}}
            <div class="question">
              <div class="text">{{question}}</div>
              <div class="icons">
                <i class="add_live material-icons md-20">tv</i>
                <i class="add_crap material-icons md-20">delete</i>
              </div>
            </div>
          {{/each}}
        </div>
        <div id="live" class="question-3">
          <div class="question-50 scroll">
            <h2 data-tooltip="Alle hier vorhandenen Fragen werden auf der Keynote angezeigt.">Live</h2>
            {{#each live_questions}}
              <div class="question">
                <div class="text">{{question}}</div>
                <div class="icons">
                  <i class="add_nice material-icons md-20">favorite</i>
                  <i class="add_crap material-icons md-20">delete</i>
                </div>
              </div>
            {{/each}}
          </div>
          <div id="crap" class="question-50 scroll">
            <h2 data-tooltip="Alle aussortierten Fragen, die als nicht gut befunden oder beantwortet wurden, sind in diesem Bereich.">Crap</h2>
            {{#each crap_questions}}
              <div class="question">
                <div class="text">{{question}}</div>
                <div class="icons">
                  <i class="add_live material-icons md-20">tv</i>
                  <i class="add_nice material-icons md-20">favorite</i>
                </div>
              </div>
            {{/each}}
          </div>
        </div>
      </div>

      <div id="demo">
        <div id="no-drop" class="draggable drag-drop"> #no-drop </div>

        <div id="yes-drop" class="draggable drag-drop"> #yes-drop </div>

        <div id="outer-dropzone" class="dropzone">
        #outer-dropzone
        <div id="inner-dropzone" class="dropzone">#inner-dropzone</div>
        </div>
      </div>


      <div id="keynote_questions">

      </div>

    {{else}}
      <h1>Keine Keynote gefunden! Prüfe Deine Link-Eingabe...</h1>
    {{/if}}

    {{ > tooltips }}
</template>
