<template name="admin_speaker">
    <h1>Speaker</h1>

    <div class="container">

      <form id="save-speaker">
        <div id="div-name">
          <label for="name">Name *</label>
          <input id="name" name="name" type="text" required />
        </div>
        <div id="div-firstname">
          <label for="firstname">Vorname *</label>
          <input id="firstname" name="firstname" type="text" required />
        </div>
        <div id="div-login">
          <label for="login">Login</label>
          <input id="login" name="login" type="text" placeholder="Login name for keynote" />
        </div>
        <div id="div-password">
          <label for="password">Passwort</label>
          <input id="password" name="password" type="password" placeholder="Password for login" />
        </div>
        <div id="div-description">
          <label for="description">Beschreibung</label>
          <textarea id="description" name="text" placeholder="Add a description"></textarea>
        </div>
        <div id="div-buttons">
          <input id="id" name="id" type="hidden" value="">
          <input id="save" name="save" type="submit" value="Speichern">
        </div>
      </form>

      <table id="listed-speakers">
        <tr class="table-header">
          <th class="delete">Löschen</th>
          <th class="edit">Ändern</th>
          <th class="name">Name</th>
          <th class="firstname">Vorname</th>
          <th class="login">Login</th>
          <th class="password">Passwort</th>
          <th class="description">Beschreibung</th>
        </tr>

        {{#each speakers}}
          {{> speaker}}
        {{/each}}

      </table>

    </div>

</template>


<template name="speaker">
  <tr class="table-body">
    <td class="delete"><i class="material-icons md-20">delete</i></td>
    <td class="edit"><i class="material-icons md-20">edit</i></td>
    <td class="name">{{name}}</td>
    <td class="firstname">{{firstname}}</td>
    <td class="login">{{login}}</td>
    <td class="password">{{password}}</td>
    <td class="description">{{description}}</td>
  </tr>
</template>
