<template name="admin_speaker">
    <h1>Speaker</h1>

    <div class="container">

      <form id="save-speaker" class="clear card">
        <div id="div-name">
          <label for="name">Name *</label>
          <input id="name" name="name" type="text" required />
        </div>
        <div id="div-firstname">
          <label for="firstname">Vorname *</label>
          <input id="firstname" name="firstname" type="text" required />
        </div>
        <div id="div-login">
          <label for="login">Login</label>
          <input id="login" name="login" type="text" />
          <i class="material-icons helpicon" data-tooltip="Login-Name für die Keynote-Zugangsdaten">help</i>

        </div>
        <div id="div-password">
          <label for="password">Passwort</label>
          <input id="password" name="password" type="password" />
          <i class="material-icons helpicon" data-tooltip="Passwort für das Login">help</i>
        </div>
        <div id="div-description">
          <label for="description">Beschreibung</label>
          <textarea id="description" name="text"></textarea>
          <i class="material-icons helpicon" data-tooltip="Fügen Sie eine Beschreibung für den Redner hinzu.">help</i>
        </div>
        <div id="div-buttons" class="clear">
          <input id="id" name="id" type="hidden" value="">
          <span class="labelspace"></span>
          <input id="save" name="save" type="submit" value="Speichern" class="button">
          <input id="reset" name="reset" type="reset" value="Reset" class="button not-main">
        </div>
      </form>

      <table id="listed-speakers" class="clear">
        <tr class="table-header">
          <th class="delete">Löschen</th>
          <th class="edit">Ändern</th>
          <th class="name">Name</th>
          <th class="firstname">Vorname</th>
          <th class="login">Login</th>
          <th class="password">Passwort</th>
          <th class="description">Beschreibung</th>
        </tr>

        {{#each speakers}}
          {{> speaker}}
        {{/each}}

      </table>

    </div>
    {{ > tooltips }}
</template>


<template name="speaker">
  <tr class="table-body">
    <td class="delete"><i class="material-icons md-20">delete</i></td>
    <td class="edit"><i class="material-icons md-20">edit</i></td>
    <td class="name">{{name}}</td>
    <td class="firstname">{{firstname}}</td>
    <td class="login">{{login}}</td>
    <td class="password">
      {{#if password}}
        Passwort gesetzt
      {{else}}
        Kein Passwort vorhanden
      {{/if}}
    </td>
    <td class="description">{{description}}</td>
  </tr>
</template>
