<template name="home">
    <h1>TMP - Where 2 go</h1>

    <h2>User</h2>
    <ul>
      <li><a href="/ask">Ask</a></li>
      <li><a href="/program">Program</a></li>
    </ul>

    <h2>Admin</h2>
    <ul>
      <li><a href="/login">Login</a></li>
      <li><a href="/admin_program">admin_program</a></li>
      <li><a href="/admin_speaker">admin_speaker</a></li>
      <li><a href="/admin_sponsor">admin_sponsors</a></li>
    </ul>

    <h2>Keynote</h2>
    <ul>
      <li><a href="/keynote_login">Login</a></li>
      <li><a href="/keynote">keynote</a></li>
      <li><a href="/keynote_mod">keynote_mod</a></li>
      <li><a href="/keynote_answers">keynote_answers</a></li>
    </ul>

</template>
