<template name="layout_admin_menu">

    <div id="menu-links">

      <div class="menu-element">
        <a href="/admin_program">
          <i class="material-icons">event_note</i><span>Programm</span>
        </a>
      </div>

      <div class="menu-element">
        <a href="/admin_room">
          <i class="material-icons">event_seat</i><span>Räume</span>
        </a>
      </div>

      <div class="menu-element">
        <a href="/admin_speaker">
          <i class="material-icons">record_voice_over</i><span>Speaker</span>
        </a>
      </div>

      <div class="menu-element">
        <a href="/admin_sponsor">
          <i class="material-icons">business</i><span>Sponsoren</span>
        </a>
      </div>

    </div>

</template>
