<template name="user_addQuestion">

  {{#if title}}

    <form id="save-question" class="clear card">

      <h1>Event: {{title}}</h1>

      <div id="div-question">
        <textarea id="question" name="text" placeholder="Stelle Deine Frage..."></textarea>
      </div>

      <div id="div-buttons" class="clear">
        <input id="program" name="program" type="hidden" value="{{_id}}">
        <input id="save" name="save" type="submit" value="Absenden" class="button">
      </div>

    </form>

  {{else}}
    <h1>Kein Event gefunden! Prüfe Deine Link-Eingabe...</h1>
  {{/if}}

</template>
